body {
    width: 100vw;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

header {
    margin-top: 70px;
}

.red {
    width: 100%;
    background-color: red;
    height: 70px;
}

.yellow {
    width: 100%;
    background-color: yellow;
    height: 70px;
}

.blue {
    width: 100%;
    background-color: blue;
    height: 70px;
}

.game__rank {
    width: 100%;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

